// Fonts
@import url('https://fonts.bunny.net/css?family=Inter');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Variables
@import 'variables';
@import 'common';
@import 'header';
@import 'footer';
@import 'home';
@import 'contact';
@import 'about';
@import 'login';
@import 'dashboard';
@import 'product';
@import 'cart';
@import 'checkout';
@import 'tracking';
